*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.fc-black{
  color: rgb(37, 39, 42);
}

.fc-grey{
  color: rgb(177, 178, 179);
}

.fc-white{
  color: white;
}

header{
  width: 100%;
  height: 90px;
  font-family: 'Roboto', sans-serif;
}

header .container{
  width: 80%;
  height: 100%;
  margin: auto;
}

header .container .nav-left{
  width: 30%;
  height: 100%;
  line-height: 90px;
}

header .container .nav-left .nav-ul,
header .container .nav-right .nav-ul{
  align-items: center;
  list-style: none;
}

header .container .nav-left .nav-ul li,
header .container .nav-right .nav-ul li{
  font-size: 18px;
  margin-right: 30px;
}

header .container .nav-left .nav-ul li a,
header .container .nav-right .nav-ul li a{
  text-decoration: none;
}

header .container .nav-left .nav-ul li a:hover,
header .container .nav-right .nav-ul li a:hover{
  color: rgb(37, 39, 42);
}

header .container .nav-left img{
  width: 35px;
  margin-top: 25px;
}

header .container .nav-right{
  width: 50%;
  height: 100%;
  line-height: 90px;
}

header .container .nav-right .buttons button{
  padding: 15px 25px;
  margin-left: 5px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: lightgrey;
}

header .container .nav-right .buttons button:last-child{
  background-color: black;
}

header .container .nav-right .buttons button:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.with-dropdown{
  position: relative;
}

.dropdown-menu{
  position: absolute;
  display: none;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.dropdown-menu.active{
  display: block;
}

.dropdown-menu.large{
  width: 800px;
  left: -200px;
  top: 100%;
}

.dropdown-menu.small{
  width: 180px;
  top: 100%;
}

#plans{
  left: -25px;
}

#about-us{
  left: -20px;
}

#help{
  left: -15px;
}

.dropdown-menu .dropdown-box{
  padding: 5px;
  margin-left: 40px;
}

.dropdown-menu .dropdown-box ul{
  float: left;
  list-style: none;
  line-height: normal;
}

.dropdown-menu .dropdown-box ul li{
  margin: 15px 0;
}

.dropdown-menu .dropdown-box ul li a{
  color: rgb(177, 178, 179);
}

